body {
  margin: 0;
  padding: 0;
}

main {
  margin: 10vmin 0 0 0;
  padding-top: 25vmin;
  padding-bottom: 20vmin;
  background: black;
  color: white;
  text-align: center;
  height: calc(100vh);
  width: 100vw;
  position: fixed;
  overflow-y: auto;
  scroll-behavior: smooth; 
}
main ul {
  list-style-type: none; 
}

main img {
  display: block;
  width: 60vmin;
  margin: auto; 
  margin-bottom: 10vmin;
  margin-top: 10vmin;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: radial-gradient(#ccc, white);
  border-radius: 2.5vmin;
}
::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(#888, #ccc);
}

main {
  scroll-snap-type: y mandatory;
  scroll-padding: 10vmin;
}

main li {
  scroll-snap-align: start;
}